
.sidebar{
  background: #364D6C;
}

.sidebar .logo-details .logo_name{
  color: #fff;
  font: bold 23px Tahoma;
}

.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar li{
  /* position: relative; */
  margin: 8px ;
  list-style: none;
}

.sidebar.open .bx-search:hover{
  background: #8CB2CE;
  color: #fff;
}
.sidebar .bx-search:hover{
  background: #fff;
  color: #8CB2CE;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  /* transition: all 0.4s ease; */
  background: #8CB2CE;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #2A2727;
  font:bold 25px Tahoma;
  white-space: nowrap;
  /* opacity: 0; */
  pointer-events: none;
  /* transition: 0.4s; */
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  /* transition: all 0.5s ease; */
  color: #8CB2CE;
}
.sidebar li i{
  /* height: 50px; */
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 80px;
  width: 100px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #183059;
  /* transition: all 0.5s ease; */
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 200px;
}


.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 20px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  /* transform: translateY(-50%); */
  background: #2A2727;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
 

